div[data-resize] {
    position: absolute;
    font-size: 0.1px;
    display: block;
    z-index: 90;
    background-color: #55aa55;
}
div[data-resize='left'] {
    cursor: e-resize;
    width: 4px;
    left: 0px;
    top: 0;
    height: 100%;
}

div[data-resize='right'] {
    cursor: e-resize;
    width: 4px;
    right: 0px;
    top: 0;
    height: 100%;
}

div[data-resize='top'] {
    cursor: s-resize;
    height: 4px;
    width: 100%;
    top: 0px;
    left: 0;
    touch-action: auto;
}

div[data-resize='bottom'] {
    cursor: s-resize;
    height: 4px;
    width: 100%;
    bottom: 0px;
    left: 0;
}
div[data-resize_handle='left'] {
    position: absolute;
    font-size: 0.1px;
    display: block;
    cursor: e-resize;
    width: 4px;
    left: 0px;
    top: 0;
    height: 100%;
    z-index: 90;
    background-color: #55aa55;
}

div[data-resize_handle='right'] {
    position: absolute;
    font-size: 0.1px;
    display: block;
    cursor: e-resize;
    width: 4px;
    right: 0px;
    top: 0;
    height: 100%;
    z-index: 90;
    background-color: #55aa55;
}

div[data-resize_handle='top'] {
    position: absolute;
    font-size: 0.1px;
    display: block;
    cursor: s-resize;
    height: 4px;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 90;
    background-color: #55aa55;
    touch-action: auto;
}

div[data-resize_handle='bottom'] {
    position: absolute;
    font-size: 0.1px;
    display: block;
    cursor: s-resize;
    height: 4px;
    width: 100%;
    bottom: 0px;
    left: 0;
    z-index: 90;
    background-color: #55aa55;
}

div.resize>div.resizeleft {
    position: absolute;
    font-size: 0.1px;
    display: block;
    cursor: e-resize;
    width: 4px;
    left: 0px;
    top: 0;
    height: 100%;
    z-index: 90;
    background-color: #55aa55;
}

div.resize>div.resizeright {
    position: absolute;
    font-size: 0.1px;
    display: block;
    cursor: e-resize;
    width: 4px;
    right: 0px;
    top: 0;
    height: 100%;
    z-index: 90;
    background-color: #55aa55;
}

div.resize>div.resizetop {
    position: absolute;
    font-size: 0.1px;
    display: block;
    cursor: s-resize;
    height: 4px;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 90;
    background-color: #55aa55;
    touch-action: auto;
}

div.resize>div.resizebottom {
    position: absolute;
    font-size: 0.1px;
    display: block;
    cursor: s-resize;
    height: 4px;
    width: 100%;
    bottom: 0px;
    left: 0;
    z-index: 90;
    background-color: #55aa55;
}